DJANGO_SECRET_KEY=change-this-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
ANEMIA_MODEL_PATH=anemicheck_mobilenetv2_mvp.keras
MAX_UPLOAD_BYTES=6291456
SECURE_SSL_REDIRECT=False
